body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.newform{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    row-gap: 20px;
    padding: 20px;
    background-color: rgb(162, 197, 118);
    border-radius: 20px;
}

.field{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
}

label{
    font-weight: bold;
}

input{
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    border: 2px solid #333;
}

.btn{
    padding: 12px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}
#message{
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    border: 2px solid #333;
}
