<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style1.css">
    <title>Add chart</title>
</head>
<body>
    
    <form action="/charts" method="post">
        <div class="newform">
            <div class="field">
                <label for="from">From</label>
                <input type="text" name="from" placeholder="From" id="from">
            </div>
            <div class="field">
                <label for="to">To</label>
                <input type="text" name="to" id="to" placeholder="TO">
            </div>
            <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" placeholder="Write your message"></textarea>
            </div>
        <button class="btn">Send</button>
        </div>
    </form>
</body>
</html>