<% layout("./layouts/boilerplate") %> 

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-12 col-md-8 col-lg-6 text-dark">
        
        <h2 class="ps-3 d-none d-md-block">SignUp on Wanderlust</h2>
        <h4 class="ps-3 d-block d-md-none">SignUp on Wanderlust</h4>
        <form action="/user/signup" method="post" novalidate class="needs-validation">
            
            <div class="form-group my-2">
                <label>Username</label>
                <input type="text" class="form-control" placeholder="Enter username" name="username" required>
                <div class="invalid-feedback">
                    Please enter a valid username.
                </div>
            </div>

            <div class="form-group my-2">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Enter email" name="email" required>
                <div class="invalid-feedback">
                    Please enter a valid email.
                </div>
            </div>

            <div class="form-group my-2">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Enter password" name="password" required>
                <div class="invalid-feedback">
                    Please enter strong password.
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <button type="submit" class="btn btn-success my-2 rounded p-2 w-100">
                        Signup
                    </button>
                </div>
            </div>
        </form>
        <div class="col-12 mt-3 mb-2">
            <form action="/user/auth/google" method="get">
                <button type="submit" class="btn btn-lg w-100 google-btn">
                    <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google" />
                    SignUp with Google
                </button>
            </form>
        </div>
    </div>
</div>