<% layout("./layouts/boilerplate") %>

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-12 col-md-8 col-lg-6 text-dark">
        <h2 class="ps-3">Add Your Place</h2>

        <form action="/listings" method="post">
            
            <div class="form-group my-2">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Enter title" name="title" required>
            </div>

            <div class="form-group my-2">
                <label>Description</label>
                <textarea class="form-control" rows="3" placeholder="Enter description" name="description"></textarea>
            </div>

            <div class="form-group my-2">
                <label>Image URL/link</label>
                <input type="text" class="form-control" placeholder="Enter image URL/link" name="url">
            </div>

            <div class="row">
                <div class="form-group col my-2">
                    <label>Price</label>
                    <div class="input-group">
                        <div class="input-group-text">&#8377;</div>
                        <input type="number" class="form-control" placeholder="Enter Price" name="price">
                    </div>
                </div>

                <div class="form-group col my-2">
                    <label>Country</label>
                    <input type="text" class="form-control" placeholder="Enter country" name="country">
                </div>
            </div>

            <div class="form-group my-2">
                <label>Location</label>
                <input type="text" class="form-control" placeholder="Enter location" name="location">
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <button type="submit" class="btn btn-danger my-2 rounded p-2 w-100">
                        Add New Listing
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
