<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Form</title>
</head>
<body>
    <h2>Edit Form</h2>
    <h3>Post id: <%= post.id %></h3>
    <h3>Post username: <%= post.username %></h3>
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea name="content" placeholder="Write your post"><%= post.content %></textarea>
        <br>
        <button type="submit">Submit Post</button>
    </form>
</body>
</html>