<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>All posts</title>
</head>
<body>
    <h1>Qura Posts</h1>
    
        <div class="post">
            <h6><%= post.id %></h6>
            <h3 class="user">@<%= post.username%></h3>
            <h4 class="content"> <%= post.content %></h4>
        </div>
    

</body>
</html>